* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.nav-link {
    font-size: 15px;
}

.button-1,
.button-2,
.button-4,
.button-5,
.button-6 {
    background-color: white;
}
.button-3 {
    background-color: black;
    color: white;
}
.button-3:hover {
    background-color: black;
    color: white;
}
#button-ferdi {
    text-decoration: none;
}

.button-1 {
    display: inline-flex;
    margin-left: 64px;
}

#nav-link {
    color: black;
    font-size: 19px;
}

.bi-telephone-fill {
    color: coral;
}

.button-phone,
.button-banking {
    border-color: rgb(226, 226, 226);
    border-radius: 25px;
}

.footer-container,
.footer-container-2,
.footer-container-3,
.footer-container-4,
.footer-container-5,
.footer-container-6,
.footer-container-7 {
    color: black;
    text-decoration: none;
}

.footer-container-2 {
    margin-left: 12rem;
}

.footer-container-3 {
    margin-left: 19rem;
}

.footer-container-4 {
    margin-left: 28rem;
}

.footer-container-5 {
    margin-left: 37rem;
}

.footer-container-6 {
    margin-left: 51rem;
}

.footer-container-7 {
    margin-left: 68rem;
}

.social-icone {
    margin-top: 22rem;
}

.icone {
    color: gray;
}

.icone1,
.icone2 {
    color: #ED6E2D;
}

#adif {
    width: 80px;
    transform: translate(61rem, -4rem);
}

#header {
    color: #ED6E2D;
}

.header-text {
    color: #ED6E2D;
}

.digitalbank-box {
    width: 380px;
    height: 300px;
    border-radius: 15px;
    background-color: #FAFAFA;
    border-color: #FAFAFA;
}

.digitalbank-box:hover {
    background-color: #ED6E2D;
    color: white;
}

.bi-briefcase,
.bi-terminal-fill,
.bi-safe2,
.bi-laptop {
    font-size: 70px;
    margin-left: 10rem;
    display: block;
}

.text-box {
    text-align: center;
}