* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.nav-link {
    font-size: 15px;
}

.button-1,
.button-2,
.button-4,
.button-5,
.button-6 {
    background-color: white;
}

.button-3 {
    background-color: black;
    color: white;
}

.button-3:hover {
    background-color: black;
    color: white;
}

#button-ferdi {
    text-decoration: none;
}

.button-1 {
    display: inline-flex;
    margin-left: 64px;
}

#nav-link {
    color: black;
    font-size: 19px;
}

.bi-telephone-fill {
    color: coral;
}

.button-phone,
.button-banking {
    border-color: rgb(226, 226, 226);
    border-radius: 25px;
}

.footer-container,
.footer-container-2,
.footer-container-3,
.footer-container-4,
.footer-container-5,
.footer-container-6,
.footer-container-7 {
    color: black;
    text-decoration: none;
}

.footer-container-2 {
    margin-left: 12rem;
}

.footer-container-3 {
    margin-left: 19rem;
}

.footer-container-4 {
    margin-left: 28rem;
}

.footer-container-5 {
    margin-left: 37rem;
}

.footer-container-6 {
    margin-left: 51rem;
}

.footer-container-7 {
    margin-left: 68rem;
}

.social-icone {
    margin-top: 22rem;
}

.icone {
    color: gray;
}

.icone1,
.icone2 {
    color: #ED6E2D;
}

#adif {
    width: 80px;
    transform: translate(61rem, -4rem);
}

#header {
    color: #ED6E2D;
}

.btn-outline-secondary {
    border-radius: 20px;
    transform: scale(1.5);
}

.btn-outline-secondary:hover {
    background-color: #ED6E2D;
    color: white;
    border-color: #ED6E2D;
}

.bi-person-fill,
.bi-arrow-right-circle-fill {
    color: #ED6E2D;
}

.carousel-inner {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.CaruselFoto1 {
    position: absolute;
    top: 0px;
    left: 0px;

}

.text-header {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(42rem, 7rem);
    color: white;
}

.text-p {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(42rem, 11rem);
    color: white;
}

.btn-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(42rem, 18rem);
    border-color: #ED6E2D;
    background-color: white;
    color: #ED6E2D;
    border-radius: 28px;
}

.btn-1:hover {
    background-color: white;
    color: #ED6E2D;
}

.btn-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(52rem, 18rem);
    border-color: #ED6E2D;
    background-color: white;
    color: #ED6E2D;
    border-radius: 28px;
}

.btn-2:hover {
    background-color: white;
    color: #ED6E2D;
}

.bi-person-fill,
.bi-arrow-right-circle-fill,
.header-text {
    color: #ED6E2D;
}

.card-title {
    text-align: center;
}

.card {
    width: 290px;
    height: 400px;
    background-color: #FAFAFA;
    border-color: #FAFAFA;
}

.card:hover {
    background-color: #ED6E2D;
    color: white;
}

#card-icon {
    margin-top: 4rem;
    margin-left: 8rem;
    position: absolute;
    transform: scale(4);

}

#card-icon {
    color: #ED6E2D;
}

#card-icon:hover {
    color: white;
}

.card-body {
    margin-top: 9rem;
}

.UBank {
    width: 100%;
    height: 430px;
    background-color: #FAFAFA;
    border-radius: 20px;
}

#Ubank {
    margin-left: 68px;
    margin-top: 60px;
    color: #ED6E2D;
}

#par {
    margin-top: 1rem;
    margin-left: 4rem;
}

#playstore {
    margin-left: 4rem;
}

.allnews {
    background-color: #ED6E2D;
    color: white;
    border-radius: 26px;
    font-size: 23px;
    transform: translate(5rem, 4.5rem);
}

.allnews:hover {
    background-color: #ED6E2D;
    color: white;
    border-radius: 26px;
    font-size: 23px;
}

#button-About {
    background-color: #ED6E2D;
    color: white;
    border-radius: 26px;
    font-size: 23px;
    transform: translate(0rem, -4rem);
}

#appbar {
    position: absolute;
    transform: scale(0.5);
    margin-top: -34rem;
    margin-left: 23rem;
}

.Valyuta {
    width: 100%;
    height: 700px;
    background-color: #FAFAFA;
}

#h2 {
    color: #ED6E2D;
    margin-top: 4rem;
}

small {
    color: rgb(191, 190, 190);
}

#hr {
    width: 240px;
}

#section-2 {
    margin-left: 26rem;
}

#section-3 {
    margin-left: 52rem;
}

#Valyuta-calculator {
    position: absolute;
    width: 80%;
    height: 150px;
    margin-left: 5rem;
    margin-top: 26rem;
    border-radius: 25px;
    background-color: white;
}

#form-1 {
    width: 17rem;
    margin-left: 25rem;
}

#form-2 {
    width: 17rem;
    margin-left: 55rem;
    margin-top: -11.7rem;
}

#right-icon {
    margin-left: 49rem;
    margin-top: -9rem;
    position: absolute;
    color: #ED6E2D;
}

#usd-img {
    width: 17px;
}

#dropdown {
    margin-left: 10rem;
    margin-top: -3rem;
}

#box,
#box-2,
#box-3 {
    width: 420px;
    height: 350px;
    background-color: #FAFAFA;
    border-radius: 25px;
}

#box:hover {
    background-color: #ED6E2D;
    color: white;
}

#box-2 {
    margin-left: 28rem;
    background-color: #FAFAFA;
}

#box-2:hover {
    background-color: #ED6E2D;
    color: white;
}

#box-3 {
    margin-left: 56rem;
    background-color: #FAFAFA;
}

#box-3:hover {
    background-color: #ED6E2D;
    color: white;
}

.news {
    margin-top: 22rem;
    margin-left: 29rem;
}

#Service-network {
    width: 700px;
    height: 300px;
    margin-top: 32rem;
    background-color: #FAFAFA;
    border-radius: 15px;
    position: relative;
}

#text-servic {
    color: #ED6E2D;
}

#button-news {
    background-color: #ED6E2D;
    color: white;
    border-radius: 25px;
    display: inline-flex;
}

#bitmap-img {
    margin-left: 28rem;
    margin-top: -12.5rem;
    width: 14rem;
}

#contact-service {
    position: absolute;
    width: 500px;
    height: 300px;
    margin-top: -18.8rem;
    margin-left: 50rem;
    background-color: #FAFAFA;
    border-radius: 15px;
}

#question {
    color: #ED6E2D;
}

#CallCenter {
    margin-top: -18rem;
    margin-left: 3.5rem;
}

#button-About {
    margin-top: 4rem;
    margin-left: 24rrem;
}